<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
  <title><%= title %></title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/vendor.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body style="padding: 0px;">
  <%- include(body); %>
  <foot>
    <script>
      var page = '<%= page %>'
      var subpage = '<%= subpage %>'
      var project = '<%= project %>'
      var workstreamId = '<%= (typeof workstream != "undefined") ? workstream : "" %>'
      var taskId = '<%= (typeof task != "undefined") ? task : "" %>'
      var folderParams = '<%= (typeof folder != "undefined") ? folder : "" %>'
      var folderParamsType = '<%= (typeof folderType != "undefined") ? folderType : "" %>'
      var folderParamsStatus = '<%= (typeof folderStatus != "undefined") ? folderStatus : "" %>'
      var folderParamsOrigin = '<%= (typeof folderOrigin != "undefined") ? folderOrigin : "" %>'
      var documentId = '<%= (typeof documentId != "undefined") ? documentId : "" %>'
      var conversationId = '<%= (typeof conversationId != "undefined") ? conversationId : "" %>'
      var user = '<%- (typeof user != "undefined") ? JSON.parse(user) : "" %>'
      var loggedUser = user != "" ? JSON.parse(user) : ""
    </script>
    <script src="/javascripts/dist/vendor.js"></script>
    <script src="/javascripts/dist/app.min.js"></script>
  </foot>
</body>

</html>